

  <div class="wrapper wrapper-content  animated fadeInRight">
      <div class="row">
          <div class="col-sm-12">
              <div class="ibox">
                  <div class="ibox-content">
                      <span class="text-muted small pull-right">Ultima modificacion <i class="fa fa-clock-o"></i> <%=@actualizado%></span>
                      <h2>Pagos</h2>
                      <p>
                          Estos son todos tus pagos, haz click en editar para modificar sus datos
                      </p>

                      <%= render 'list' %>

                  </div>
              </div>
          </div>
        </div>
    </div>
