<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Pagos</h2>
                    <p>
                        Selecciona una renta y un mes para agregar un pago
                    </p>
                  <%= render 'lookup' %>
        </div>
      </div>
    </div>
  </div>
</div>
