<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h1>Puedes agregra una renta apartir de inquilinos y propiedades existientes o introduciendo
                      nuevos datos </h1>
                        <div class="row">
                      <%= link_to "Existentes", existing_rentas_path , class:"btn btn-primary btn-lg center col-lg-6 margin", remote: true  %>
                      <%= link_to "Nuevos", nuevo_rentas_path, class:" btn btn-primary btn-lg center col-lg-6 margin", remote: true  %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="existing"></div>
<div id="nuevo"></div>
