.btn-facebook.btn.btn-lg.btn-block {
  color: white;
  background-color: DodgerBlue;
  font-size: 1em;
  &:hover {
    color: white;
    background-color: RoyalBlue;
  }
}

.wrapper-login{
  margin-bottom: 50px;
}

.img-circle-fb{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.icono{
  display:inline-block;
 background-color: #fff;
border: 1px solid #E5E6E7;
border-radius: 1px;
color: inherit;
font-size: 14px;
font-weight: 400;
line-height: 1;
padding: 7px 6px;
text-align: center;
}

.form-control-2{
  position: absolute;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: inline-block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 80%;
  }

  .center{
    text-align: center;
  }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: inherit;
}

.margin{
  margin: 0 20px;
}

.width100 {
    width: 100% !important;
}
.select2 .select2-container .select2-container--default .select2-container--below{
    width: auto !important;
}

.form-group .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

#nuevo_inquilino {
  display:none;
}

.hidden{
  visibility: hidden !important;
}
